<h1>イコノイジョイクイズ</h1>
<p>クイズに挑戦したいグループを選ぼう！！</p>
<button class="btn btn-secondary w-28 tracking-[.25em]">=LOVE</button>
<button class="btn pointer-events-none w-28 tracking-[.25em] disabled:btn-success">≠ME</button>
<button class="btn pointer-events-none w-28 tracking-[.25em] disabled:btn-warning">≒JOY</button>