<h1>イコノイジョイ推しメンクイズ</h1>
<p>クイズに挑戦したいグループを選ぼう！！</p>
<%= link_to love_members_path do %>
  <button class="btn btn-secondary w-28 tracking-[.25em]">=LOVE</button>
<% end %>
<button class="btn pointer-events-none w-28 tracking-[.25em] disabled:btn-success">≠ME</button>
<button class="btn pointer-events-none w-28 tracking-[.25em] disabled:btn-warning">≒JOY</button>