<h1>推しメンセレクト</h1>
<p>クイズにチャレンジしたい推しメンを選ぼう！！</p>
<p>大谷 映美里</p>
<p>大場 花菜</p>
<p>音嶋 莉沙</p>
<p>齋藤 樹愛羅</p>
<div>
  <%= link_to love_maika_path do %>
    <%= image_tag('maika.jpeg', class: 'w-28 h-42') %>
    <p>佐々木 舞香</p>
  <% end %>
</div>
<p>髙松 瞳</p>
<p>瀧脇 笙古</p>
<p>野口 衣織</p>
<p>諸橋 沙夏</p>
<p>山本 杏奈</p>
