<main>
  <div>
    <h1><%= @result[0] %>の推し度は<%= @result[1] %>%です！</h1>
  </div>
  <%= link_to root_path do %>
  <button class="btn btn-secondary w-32 tracking-[.25em]">TOPに戻る</button>
<% end %>
</main>